# Add any directories, files, or patterns you don't want to be tracked by version control
WnLog/
BandPower*/
!modules/
!TLogsRootsAndNorms/
!band_powers/
!bin_xi/
!cl_to_cosebis/
!cosebis_covariance/
!calRoots_Norms/
!Dimentionless_TLogsRootAndNorms/
Tplut_minus/
Dimentionless_WnLog/
*_pycache_*


*.so
*.so.dSYM
*.a
*.o

modules/*.o

*.*~
.DS_Store
*.so.dSYM
